
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<style>

    .form-group small {
        color: var(--error-color);
        position: absolute;
        bottom: 0;
        left: 0;
        visibility: hidden;
    }

    .form-group.success input {
        border-color: var(--succes-color);
    }

    .form-group.error input {
        border-color: var(--error-color);
    }

    .form-group.error small {
        visibility: visible;
    }

</style>
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="@Url.Action("Index","User")">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <a href="@Url.Action("CheckOut","User")"><span class="breadcrumb-item active">Checkout</span></a>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Checkout Start -->
<div class="container-fluid">
    <form method="post" asp-action="Login" id="form" class="form">
        <ul class="errorMessages"></ul>

        <div class="row px-xl-5">
            <div class="col-lg-8">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3"></span></h5>
                <div class="bg-light p-30 mb-5">
                    <h5>SignIn</h5><br /></br/>
                    <div class="row">
                        
                        <div class="col-md-6 form-group">
                            <label>Email</label>
                            <input type="text" name="email" id="email" class="form-control"><br />
                            <small style="color:red;">Error Message</small>

                        </div>
                        <div class="col-md-6 form-group">
                            <label>Password</label>
                            <input type="text" name="password" id="password" class="form-control"><br />
                            <small style="color:red;">Error Message</small>

                        </div>
                        
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom">
                        <h6 class="mb-3">Products</h6>
                        <div class="d-flex justify-content-between">
                            <p>Product Name 1</p>
                            <p>$150</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>Product Name 2</p>
                            <p>$150</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>Product Name 3</p>
                            <p>$150</p>
                        </div>
                    </div>
                    <div class="border-bottom pt-3 pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Subtotal</h6>
                            <h6>$150</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">$10</h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <h5>$123</h5>
                        </div>
                    </div>
                </div>
                <div class="mb-5">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Payment</span></h5>
                    <div class="bg-light p-30">
                        @foreach (var item in ViewBag.payment)
                        {
                            <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="PaymentTypeId" id="paypal-@item.PaymentTypeId" value="@item.PaymentTypeId">
                                    <label class="custom-control-label" for="paypal-@item.PaymentTypeId">@item.Type</label>
                                </div>
                            </div>
                        }

                        <button class="btn btn-block btn-primary font-weight-bold py-3">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@*<script>
    const form = document.getElementById('form');
    const CustName = document.getElementById('CustName');
    const email = document.getElementById('email');
    const password = document.getElementById('password');
    const number = document.getElementById('number');
    const address = document.getElementById('address');

    // Show input error messages
    function showError(input, message) {
        const formControl = input.parentElement;
        formControl.className = 'col-md-6 form-group error';
        const small = formControl.querySelector('small');
        small.innerText = message;
    }

    // Show success color
    function showSuccess(input) {
        const formControl = input.parentElement;
        formControl.className = 'col-md-6 form-group success';
    }

    // Check email is valid
    //function checkEmail(input) {
    //    if (re.test(input.value.trim())) {
    //        showSuccess(input);
    //    } else {
    //        showError(input, 'Email is not valid');
    //    }
    //}

    // Check required fields
    function checkRequired(inputArr) {
        inputArr.forEach(function (input) {
            if (input.value.trim() === '') {
                showError(input, `${getFieldName(input)} is required`);
            } else {
                showSuccess(input);
            }
        });
    }

    // Check input Length
    function checkLength(input, min, max) {
        if (input.value.length < min) {
            showError(input, `${getFieldName(input)} must be at least ${min} characters`);
        } else if (input.value.length > max) {
            showError(input, `${getFieldName(input)} must be less than ${max} characters`);
        } else {
            showSuccess(input);
        }
    }

    // Get FieldName
    function getFieldName(input) {
        return input.id.charAt(0).toUpperCase() + input.id.slice(1);
    }

    // Event Listeners
    form.addEventListener('submit', function (e) {
        e.preventDefault();

        checkRequired([CustName, email, password, number, address]);
        checkLength(CustName, 3, 15);
        checkLength(password, 6, 25);
        //checkEmail(email);
        if (document.querySelectorAll('.form-group.error').length > 0) {
            // If no errors, submit the form
            return false;
        }

        form.submit();

    });
</script>
*@
