@model Theme_Implemenet.Models.RegisterModel


<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from www.urbanui.com/melody/template/pages/forms/basic_elements.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Sep 2018 06:07:32 GMT -->
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Melody Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="~/Adminsite/vendors/iconfonts/font-awesome/css/all.min.css">
  <link rel="stylesheet" href="~/Adminsite/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Adminsite/vendors/css/vendor.bundle.addons.css">

    <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="~/Adminsite/css/style.css">
  <!-- endinject -->
    <link rel="shortcut icon" href="~/Adminsite/images/favicon.png" />
</head>
<style>


    .row {
        margin-top: 5px;
    }

    .btn-primary:hover {
        background-color: blueviolet;
    }
</style>
<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
      <!-- partial -->
            <div class="main-panel" style="width:400%">
            <div class="content-wrapper container-fluid">
          <div class="page-header">
             <h3 class="page-title">
                 Create User
            </h3>
               <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                 <li class="breadcrumb-item active" aria-current="page" style="font-size: 15px;"><a href="@Url.Action("Index","Account")" style="color:black;"> User List </a></li>
                </ol>
            </nav>
          </div>
          <form class="forms-sample" method="post">

          <div class="row">
                <div class="card" style="width:400%">
                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6 col-sm-12 col-lg-6">
                                            <div class="form-group" style="margin-top:30px;">
                                                <label style="font-size: 16px;">UserName</label>
                                                <input asp-for="UserName" class="form-control" style="height: 60px;font-size: 16px;" />
                                                <span asp-validation-for="UserName" class="text-danger"></span>
                                            </div>
                    </div>
                                        <div class="col-6 col-sm-12 col-lg-6">

                                            <div class="form-group" style="margin-top:30px;">
                                                <label style="font-size: 16px;">Email</label>
                                                <input asp-for="Email" class="form-control" style="height: 60px;font-size: 16px;" />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                    </div>
                    </div>
                     <div class="row">
                                        <div class="col-6 col-sm-12 col-lg-6">
                                            <div class="form-group" style="margin-top:10px;">
                                                <label style="font-size: 16px;">Password</label>
                                                <input asp-for="Password" class="form-control" style="height: 60px;font-size: 16px;" />
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                        </div>
                                        <div class="col-6 col-sm-12 col-lg-6">

                                    <div class="form-group">
                                        <label >ConfirmPassword</label>
                                                <input asp-for="ConfirmPassword" class="form-control form-control-lg border-left-0" style="height: 60px;font-size: 16px;" />
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 col-sm-12 col-lg-6">
                                            <div class="form-group" style="margin-top:10px;">
                                                <label style="font-size: 16px;">RoleName</label>
                                                <select asp-for="RoleName" class="form-control form-control-lg" style="height: 60px;font-size: 16px;" asp-items='new SelectList(ViewBag.roles,"RoleName","RoleName")'>
                                            <option>SelectRole---</option>

                                        </select>
                                        <span asp-validation-for="RoleName" class="text-danger"></span>
                                    </div>
                                    </div>
                                        <div class="col-6 col-sm-12 col-lg-6">

                                    <div class="form-group">
                                                <label style="font-size: 16px;">Company</label>
                                                <select asp-for="CompanyId" class="form-control form-control-lg" style="height: 60px;font-size: 16px;">
                                            <option>SelectCompanyId---</option>

                                            @if (ViewBag.company != null)
                                            {
                                                foreach (var item in ViewBag.company)
                                                {
                                                    <option value="@item.CompanyId">@item.CompanyName</option>
                                                }
                                            }

                                        </select>
                                        <span asp-validation-for="CompanyId" class="text-danger"></span>
                                </div>
                              </div>
                              </div>

                                    <div class="d-flex justify-content-lg-end justify-content-sm-start">
                                        <button type="submit" class="btn btn-primary mr-2  m-b-0">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                  </form>
             
          </div>
        </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        @*<footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a href="https://www.urbanui.com/" target="_blank">Urbanui</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="far fa-heart text-danger"></i></span>
          </div>
        </footer>*@
        <!-- partial -->
      </div>

    <script src="~/Adminsite/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/Adminsite/vendors/js/vendor.bundle.addons.js"></script>
    <!-- inject:js -->
    <script src="~/Adminsite/js/off-canvas.js"></script>
    <script src="~/Adminsite/js/hoverable-collapse.js"></script>
    <script src="~/Adminsite/js/misc.js"></script>
    <script src="~/Adminsite/js/settings.js"></script>
    <script src="~/Adminsite/js/todolist.js"></script>
    <!-- Custom js for this page-->
    <script src="~/Adminsite/js/file-upload.js"></script>
    <script src="~/Adminsite/js/typeahead.js"></script>
    <script src="~/Adminsite/js/select2.js"></script>
</body>
<!-- Mirrored from www.urbanui.com/melody/template/pages/forms/basic_elements.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Sep 2018 06:07:34 GMT -->
</html>
