@model Theme_Implemenet.Models.ProductImageModel
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from www.urbanui.com/melody/template/pages/forms/basic_elements.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Sep 2018 06:07:32 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Melody Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Adminsite/vendors/iconfonts/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="~/Adminsite/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Adminsite/vendors/css/vendor.bundle.addons.css">

    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Adminsite/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Adminsite/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_settings-panel.html -->
            <!-- partial -->
            <div class="main-panel" style="width:400%">
                <div class="content-wrapper container-fluid">
                    <div class="page-header">
                        <h3 class="page-title">
                            ProductImage Form
                        </h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                @*                                <li class="breadcrumb-item"><a href="@Url.Action("Login","Account")">Signin</a></li>
                                *@
                            </ol>
                        </nav>
                    </div>
                    <div class="row">
                        <div class="card" style="width:400%">
                            <div class="card-body">
                                @* <p class="card-description">
                                Basic form elements
                                </p>*@
                                <form class="forms-sample" method="post" enctype="multipart/form-data">
                                 @*   <div class="form-group">
                                        <label>File upload</label>
                                        <input type="file" name="file" class="file-upload-default"/>
                                        <div class="input-group col-xs-12">
                                            <input type="text" class="form-control file-upload-info" multiple disabled placeholder="Upload Image">
                                            <span class="input-group-append">
                                                <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                            </span>
                                        </div>
                                    </div>*@
                                    <div class="form-group">
                                        <label>productId</label>
                                        <select asp-for="productId" class="form-control">
                                            @if (ViewBag.product != null)
                                            {
                                                foreach (var item in ViewBag.product)
                                                {
                                                    <option value="@item.productId">@item.productName</option>

                                                }
                                            }
                                        </select>
                                        <span asp-validation-for="productId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" name="file" class="form-control" multiple />
                                        </div>
                                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                    <button class="btn btn-light">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        @*<footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a href="https://www.urbanui.com/" target="_blank">Urbanui</a>. All rights reserved.</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="far fa-heart text-danger"></i></span>
        </div>
        </footer>*@
        <!-- partial -->
    </div>


</body>
<!-- Mirrored from www.urbanui.com/melody/template/pages/forms/basic_elements.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Sep 2018 06:07:34 GMT -->
</html>
